.goods_grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  padding: 5px;
  margin: 5px;
  position: relative;
  }

button {
	background-color:rgb(224,201,97);
	border: none;
	border-radius:12px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: in-line;
	font-size: 16px;
	margin: 5px;
	cursor: pointer;
}

body {
	background-color: powderblue;
	background-image: url("img/background.png");
	background-repeat: repeat;
	color: teal;
	font-family:arial;
}

.container {
	font-family: impact, charcoal, sans-serif;
	font-size: 25px;
}

footer {
	font-size:8px;
}