.goods_grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  padding: 5px;
  margin: 5px;
  position: relative;
  }

button {
	background-color:rgb(224,201,97);
	border: none;
	border-radius:12px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: in-line;
	font-size: 16px;
	margin: 5px;
	cursor: pointer;
}

body {
	background-color: powderblue;
	background-image: url("img/background.png");
	background-repeat: repeat;
	color: teal;
	font-family:arial;
}

.container {
	font-family: impact, charcoal, sans-serif;
	font-size: 25px;
}

footer {
	font-size:8px;
}

/*Source for switch: https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}


.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: teal;
	-webkit-transition: .2s;
	transition: .2s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .2s;
	transition: .2s;
}

input:checked + .slider {
	background-color: rgb(224,201,97);
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

#fplabel {
	position: absolute;
	padding-left: 65px;
	padding-top: 5px;
	width: 140px;
}